<?xml version="1.0"?>
<config>
    <modules>
        <ZendMonk_UrlCategories>
            <version>0.1.0</version>
        </ZendMonk_UrlCategories>
    </modules>
	<global>
		<helpers>
			<zendmonk_urlcategories>
				<class>ZendMonk_UrlCategories_Helper</class>
			</zendmonk_urlcategories>
		</helpers>
        <models>
            <zendmonk_urlcategories>
                <class>ZendMonk_UrlCategories_Model</class>
            </zendmonk_urlcategories>
			<catalog>
				<rewrite>
					<product_url>ZendMonk_UrlCategories_Model_Catalog_Product_Url</product_url>
				</rewrite>
			</catalog>
		</models>
		<resources>
			<zendmonk_urlcategories_setup>
				<setup>
					<module>ZendMonk_UrlCategories</module>
					<class>ZendMonk_UrlCategories_Model_Resource_Setup</class>
				</setup>
			</zendmonk_urlcategories_setup>
		</resources>
	</global>
    <adminhtml>
        <translate>
            <modules>
                <zendmonk_urlcategories>
                    <files>
                        <default>ZendMonk_UrlCategories.csv</default>
                    </files>
                </zendmonk_urlcategories>
            </modules>
        </translate>
    </adminhtml>
	<default>
	    <catalog>
			<seo>
				<product_use_default_path>0</product_use_default_path>
			</seo>
		</catalog>
	</default>
</config>